.form-container{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-image: url(../../assets/page-sign-in.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    
}
.form-container form h1{
    text-shadow: 3px 4px 7px rgba(23, 23, 22, 0.8);
    font-size: 10vh;
}
.form-container form{
    background-color: hsl(230, 4%, 30%);
    border: 2px solid black;
    width: 50rem;
    opacity: 0.7;
    padding-left: 25rem;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.unput-box{
    /* position: relative; */
    height: 65px;
    line-height: 80px;
}

.input-for{
    position: absolute;
    width: 20rem;
    outline: none;
    font-size: 1rem;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}
.label-in{
    position: absolute;
    font-size: 1.6 em;
    color: #f0ffff;
    padding: 0 20px;
    margin: 0 15px;
    background-color: hsl(230, 4%, 30%);;
    line-height: 3rem;
    transition: 0.2s ease;
}
input:focus,input:valid{
    color: black;
    border: 4px solid black;
}
input:focus+ .label-in,
input:valid+ .label-in{
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.88);
    z-index: 1111;
}
.Log{
    text-decoration: none;
    color: #f0ffff;
}
.Log:hover{
    text-decoration: underline;
}
.ligne{
    width: 24rem;
    position: absolute;
}
.Submit{
    width: 59vh;
    appearance: none;
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    /* min-height: 60px; */
    /* min-width: 0; */
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    /* width: 100%; */
    will-change: transform;
    font-size: min(1.2rem,3vh,2vw);
}
.Submit:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    
}
.Submit:disabled{
    pointer-events: none;
}
.Submit:active{
    box-shadow: none;
    transform: translateY(0);
}
