nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(230, 4%, 30%);
    padding: 20px 80px;
    /* box-shadow: 0px 10px 12px; */
    opacity: 50px;
    height: 5rem;
    border: 1px solid black;
    /* position: absolute;
    width: 79rem;
    transition: top 0.3s;
    opacity: 0.8; */
}
.Links a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.Logo img{
    width: 150px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
}
.Links ul{
    display: flex;
    justify-content: center;
}
.Links ul li{
    list-style: none;
    padding: 0 30px;
    position: relative;
}
.Links li{
    color: hsla(0, 0%, 95%, 0.8);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    position: relative;
}
.Links li::after{
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
    width: 0;
    background: hsla(0, 0%, 95%, 1.2);
    transition: width 0.5s;
    
}
.Links li:hover::after{
    width: 100%;
}
.menu-links ul li{
    font-weight: bold;
    color: hsla(0, 65%, 3%, 0.8);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    position: relative;
    
}
.menu-links ul li::after{
    content: "";
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
    width: 0;
    background: black;
    transition: width 0.5s;
}
.menu-links ul li:hover::after{
    width: 100%;
}
.Menu{
    margin-left: 1rem;
    
    position: relative;
    margin-right: 2rem;
}
.Menu svg{
    cursor: pointer;
}
.Menu-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: rgb(255, 255, 255);
    padding: 2rem ;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 110px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px hsla(0, 0%, 0%, 0.8);
    
}
.menu-links ul li a{
    
    text-align: center;
    text-decoration: none;
    color: rgb(31, 44, 44);
    font-size: 2rem;
    margin: 20rem;
    
} 
