select {
    font: inherit;
    width: 20rem;
    
    left: 0%;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color:#111827;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
.formc{
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(150, 165, 165);
}

.formc form{
    background-color: hsl(230, 4%, 30%);
    border: 2px solid black;
    width: 40rem;
    height: 20rem;
    opacity: 0.7;
    padding-top: 5rem;
    padding-left: 14rem;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 150px;
}
.unput-box{
    /* position: relative; */
    height: 65px;
    line-height: 80px;
}

.input-for{
    position: absolute;
    width: 20rem;
    outline: none;
    font-size: 1rem;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 10px;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}
.label-in{
    position: absolute;
    font-size: 1.6 em;
    color: #f0ffff;
    padding: 0 20px;
    margin: 0 15px;
    background-color: hsl(230, 4%, 30%);;
    line-height: 3rem;
    transition: 0.2s ease;
}
input:focus,input:valid{
    color: black;
    border: 4px solid black;
}
input:focus+ .label-in,
input:valid+ .label-in{
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px,-16px) scale(0.88);
    z-index: 1111;
}
