.all{
    background-color: #7e7878;
    /* margin: 0; */
    /* display: flex; */
    /* justify-content: first baseline; */
    /* min-height: 100vh; */
}
select {
    font: inherit;
    width: 20rem;
    
    margin: 3rem;
    padding: 1rem 4rem 1rem 1rem;
    background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
    color:#111827;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

}
